### Import Dependencies.

In [1]:
import json
import pandas as pd
import numpy as np

### Open the json file

In [4]:
# open the json file
f=open('data.json')

### Convert file in json object.

In [5]:
# Return JSON object as a dictionary
data=json.load(f)

#Create a function to convert json object in dataframe.

In [60]:
def json_to_df(data):
  """
  This is a function which take json obejct and 
  convert and return that in DataFrame.
  """
  Dict={}
  # First seperation of data
  for kk, vv in data.items():
    for each in vv:
      for k,v in each.items():
        review=v[8]
        # Second seperation of data      
        for k1,v1 in review.items():  
          review1=v1
          # each row data seperation from key,value form.
          for each1 in review1:
            # if Restaurant key is not id dict add with list value or append value in list
            if 'Restaurant' not in Dict.keys():
              Dict['Restaurant']=[k]
            else:
              Dict['Restaurant'].append(k)
            # Access each element.
            for key,value in each1.items():
              if key not in Dict.keys():
                if key!='reviewRating':
                  Dict[key]=[value]
                else:
                  Dict[key]=[value['ratingValue']]
              else:
                if key!='reviewRating':
                  Dict[key].append(value)
                else:
                  Dict[key].append(value['ratingValue'])

  # Now we have dictionary with key and their value in list form
  # Now we will convert dict to dataframe.
  df=pd.DataFrame(data=Dict)    
  return df

## Call the function and get dataframe.

In [62]:
# Call the json_to_DataFrame with json object data and get df in newDF.
newDF=json_to_df(data)
newDF.head()

  Restaurant  ...       author
0      Fable  ...  Jennifer E.
1      Fable  ...    Manbir R.
2      Fable  ...       Mrs H.
3      Fable  ...   Candace H.
4      Fable  ...   Abigail S.

[5 rows x 5 columns]

## Drop Unwanted column in df.

In [64]:
df=newDF[['Restaurant','description']]
df.head()

  Restaurant                                        description
0      Fable  Recommendations below!\n100% make reservation\...
1      Fable  I couldn't ask for more on a slow night at the...
2      Fable  Whoa! It's been a while .\nAnd the wait was wo...
3      Fable  Came here for a brunch date on a Saturday arou...
4      Fable  There are many brunch spots on this stretch of...

## Save dataframe as csv file.

In [65]:
# Save DataFrame as CSV.
df.to_csv('Review.csv',index=False)